<div class="sign-up">
  <img src="" />
  <img src="" />
  <p class="text-2">Create Account</p>
  <p class="text-3">Sign Up</p>
  <div class="rectangle-7" />
  <div class="rectangle-2" />
  <p class="text-4">Sign In</p>
  <div class="group-1">
    <div class="rectangle-1" />
    <p class="text-5">Your Email</p>
  </div>
  <div class="group-3">
    <div class="rectangle-1" />
    <p class="text-6">Name</p>
  </div>
  <div class="group-2">
    <div class="rectangle-1" />
    <p class="text-7">Password</p>
  </div>
  <div class="group">
    <img src="" />
  </div>
  <img src="" />
  <img src="" />
</div>